<!DOCTYPE html>
<html lang="en">
<head>
	{{template "head" .}}
</head>
<body class="d-flex text-light">
	{{template "dashboard_nav" .}}
	{{template "sidebar" .}}
	<main class="d-flex-row p-3">
		<form method="POST">
			<div id="pluginInfo" class="d-flex justify-content-between">
				<div class="d-flex align-items-center gap-2">
					<h2 class="mb-0">Cases</h2>
				</div>
			</div>
			<div class="m-4">
				<div class="table-responsive">
					<table class="table table-striped" id="casesTable" data-metalabels='{"labels": {"channelId": "Channel ID", "channelName": "Channel Name"}, "fieldOrder": ["channelName", "channelId"]}'>
						<thead>
							<tr>
								<th class="number text-filter">Case</th>
								<th class="dropdown-filter">Action</th>
								<th class="text-filter">Offender</th>
								<th class="text-filter">Moderator</th>
								<th>Reason</th>
								<th class="align-middle text-center">Actions</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{{range .Cases}}
							<tr data-channel-id="{{.ChannelID}}" data-channel-name="{{.ChannelName}}">
								<td><small>{{.CaseID}}</small></td>
								<td class="align-middle"><span class="mod-action mod-action-{{lower .Action}}">{{.Action}}</span>
								</td>
								<td>@{{.OffenderUsername}} <small style="opacity: 0.7;">({{.OffenderID}})</small></td>
								<td>@{{.StaffUsername}} <small style="opacity: 0.7;">({{.StaffID}})</small></td>
								<td class="text-truncate w-50" style="max-width: 220px;" title="{{.Reason}}">
									<span>{{.Reason}}</span>
								</td>
								<td class="align-middle text-center">
									<div class="action-links {{if index $.CaseLogMap .CaseID}}d-flex justify-content-between{{end}}">
										<a title="View case in Discord" href="{{.LogLink}}" class="btn btn-primary action-link text-decoration-none">
											<i class="fas fa-eye"></i>
										</a>
										{{if index $.CaseLogMap .CaseID}}
										<a title="View attached message log" href="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/moderation/logs/{{index $.CaseLogMap .CaseID}}" class="btn btn-primary action-link text-decoration-none">
											<i class="fa-solid fa-envelope-open-text"></i>
										</a>
										{{end}}
									</div>
								</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</main>
</body>
{{template "javascript" .}}
</html>