<!DOCTYPE html>
<html lang="en">
<head>
	{{template "head" .}}
</head>
<body class="d-flex text-light">
	{{template "dashboard_nav" .}}
	{{template "sidebar" .}}
	<main class="d-flex-row p-3">
		<div id="pluginInfo" class="d-flex justify-content-between">
			<div class="d-flex flex-column">
				<h2 class="mb-0">Message Logs</h2>
				<span class="text-secondary">Viewing message logs for #{{.MessageLog.ChannelName}}{{with .MessageLog.CaseID}} (Case #{{.}}){{end}}.</span>
			</div>
		</div>
		<div class="m-4">
			<div class="table-responsive">
				<table class="table table-striped" id="logTable" data-non-searchable="0,1,2,3">
					<thead>
						<tr>
							<th></th>
							<th>Time</th>
							<th>Author</th>
							<th>Content</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{{range $i, $msg := .MessageLog.R.GetLogModerationMessageLogsMessages}}
						<tr {{if $msg.IsDeleted}}class="row-danger" {{end}}>
							<td>{{add $i 1}}</td>
							<td>{{$msg.CreatedAt.Format "2006/01/02 15:04:05"}}</td>
							<td>@{{$msg.AuthorUsername}} <small style="opacity: 0.7;">({{$msg.AuthorID}})</small></td>
							<td class="row-content">{{$msg.Content}}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
{{template "javascript" .}}
</html>