<!DOCTYPE html>
<html lang="en">
<head>
	{{template "head" .}}
</head>
<body class="d-flex text-light">
	{{template "dashboard_nav" .}}
	{{template "sidebar" .}}
	<main class="d-flex-row p-3">
		<div id="pluginInfo" class="d-flex justify-content-between">
			<div class="d-flex align-items-center gap-2">
				<h2 class="mb-0">Message Logs</h2>
			</div>
		</div>
		<div class="m-4">
			<div class="table-responsive">
				<table class="table table-striped" id="logsTable" data-non-searchable="3,4">
					<thead>
						<th class="text-filter">Case</th>
						<th class="text-filter">Channel</th>
						<th>Created By</th>
						<th>Created At</th>
						<th class="align-middle text-center">Actions</th>
					</thead>
					<tbody class="table-group-divider">
						{{range .MessageLogs}}
						<tr>
							<td class="align-middle id-column"><small>{{or .CaseID "—"}}</small></td>
							<td>#{{.ChannelName}} <small>({{.ChannelID}})</small></td>
							<td>@{{.AuthorUsername}} <small>({{.AuthorID}})</small></td>
							<td><small>{{.CreatedAt.Format "2006/01/02 15:04:05"}}</small></td>
							<td class="align-middle text-center">
								<div class="action-links">
									<a href="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/moderation/logs/{{.ID}}" class="btn btn-primary action-link" title="View Log">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
{{template "javascript" .}}
</html>