<!DOCTYPE html>
<html lang="en">
<head>
	{{template "head" .}}
</head>
<body class="d-flex text-light">
	{{template "dashboard_nav" .}}
	{{template "sidebar" .}}
	<main class="d-flex-row p-3">
		<form method="POST">
			<div id="pluginInfo" class="d-flex justify-content-between">
				<div class="d-flex align-items-center gap-2">
					<h2 class="mb-0">Core</h2>
				</div>
				<div class="d-flex">
					<button type="submit" class="btn btn-success">Save changes</button>
				</div>
			</div>
			<div class="m-4">
				<div id="settings">
					<div class="row">
						<div class="col-5">
							<div class="card settings-card">
								<div class="card-header">
									<h5 class="card-title mb-0">Guild prefix</h5>
								</div>
								<div class="card-body">
									<input type="text" class="form-control text-light" name="GuildPrefix" id="GuildPrefix" autocomplete="off" value="{{.CoreConfig.GuildPrefix}}">
									<p class="card-text">Note: That the bot will always be triggered by <code>@Summit</code></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
	<div id="toastContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1100;"></div>
</body>
{{template "javascript" .}}

</html>