<!DOCTYPE html>
<html lang="en">
<head>
	{{template "head" .}}
</head>
<body class="d-flex text-light">
	{{template "dashboard_nav" .}}
	{{template "sidebar" .}}
	<div id="toastContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1100;"></div>
	<main class="d-flex-row p-3">
		<form method="POST">
			<div id="pluginInfo" class="d-flex justify-content-between">
				<div class="d-flex align-items-center gap-2">
					<h2 class="mb-0">Economy</h2>
					{{toggleSwitch .EconomyConfig.EconomyEnabled "EconomyEnabled"}}
				</div>
				<div class="d-flex">
					<button type="submit" class="btn btn-success">Save changes</button>
				</div>
			</div>
			<div class="m-4">
				<div id="settings">
					<div class="row justify-content-evenly">
						<div class="col-6">
							<div class="card settings-card">
								<div class="card-header">
									<h5 class="card-title mb-0">Currency Symbol</h5>
								</div>
								<div class="card-body">
									<input type="text" class="form-control text-light" name="EconomySymbol" id="EconomySymbol" autocomplete="off" value="{{.EconomyConfig.EconomySymbol}}">
									<p class="card-text">Note: To use an emoji, use the full name & code and ensure the bot has access to the emoji, for example: <code>&lt;NAME:IDXXXX&gt;</code>.</p>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card settings-card">
								<div class="card-header">
									<h5 class="card-title mb-0">Start Balance</h5>
								</div>
								<div class="card-body">
									<div class="input-group">
										<span class="input-group-text">{{replaceCustomEmojis .EconomyConfig.EconomySymbol}}</span>
										<input type="number" name="EconomyStartBalance" id="EconomyStartBalance" min="0" step="1" class="form-control text-light" placeholder="0" value="{{.EconomyConfig.EconomyStartBalance}}">
									</div>
									<p class="card-text">Note: setting <code>0</code> will result in new members staring at 0.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-evenly">
						<div class="col-11">
							<hr>
						</div>
					</div>
					<div class="row justify-content-evenly">
						<div class="col-6">
							<div class="card settings-card">
								<div class="card-header">
									<h5 class="card-title mb-0">Minimum payout</h5>
								</div>
								<div class="card-body">
									<div class="input-group">
										<span class="input-group-text">{{replaceCustomEmojis .EconomyConfig.EconomySymbol}}</span>
										<input type="number" name="EconomyMinReturn" id="EconomyMinReturn" min="0" step="1" class="form-control text-light" placeholder="0" value="{{.EconomyConfig.EconomyMinReturn}}">
									</div>
									<p class="card-text">Note: This only affects <code>work</code> &amp; <code>crime</code>.</p>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card settings-card">
								<div class="card-header">
									<h5 class="card-title mb-0">Maximum payout</h5>
								</div>
								<div class="card-body">
									<div class="input-group">
										<span class="input-group-text">{{replaceCustomEmojis .EconomyConfig.EconomySymbol}}</span>
										<input type="number" name="EconomyMaxReturn" id="EconomyMaxReturn" min="0" step="1" class="form-control text-light" placeholder="0" value="{{.EconomyConfig.EconomyMaxReturn}}">
									</div>
									<p class="card-text">Note: This only affects <code>work</code> &amp; <code>crime</code>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id="responses">
			<h2 style="margin-top: 2px; margin-bottom: 0px;">Custom Responses</h2>
			<div class="m-4">
				<div class="card settings-card">
					<div class="card-header">
						<ul class="nav nav-tabs" id="responsesTabs" role="tablist" style="border-bottom: none;">
							<li class="nav-item" role="presentation">
								<button class="tab-head nav-link text-white active" id="work-tab" data-bs-toggle="tab" data-bs-target="#work-tab-pane" type="button" role="tab" aria-controls="work-tab-pane" aria-selected="true">Work</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="tab-head nav-link text-white" id="crime-tab" data-bs-toggle="tab" data-bs-target="#crime-tab-pane" type="button" role="tab" aria-controls="crime-tab-pane" aria-selected="false">Crime</button>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="work-tab-pane" role="tabpabel" aria-labelledby="work-tab" tabindex="0">
								<div class="row">
									<div class="col-sm">
										<p>Allows you to manage your custom responses for <code>work</code> commands.</p>
										<p>Note: The bot bot will automatically use custom responses instead of the built-in one if there are any present</p>
									</div>
									<div class="col-sm d-flex flex-column gap-2">
										<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newWorkResponse">Add new response</button>
										<div class="table-responsive">
											<table class="table table-striped" id="workResponseTable">
												<thead>
													<tr>
														<th>Response</th>
														<th class="align-middle text-center" style="width: 10%; white-space: nowrap;">Actions</th>
													</tr>
												</thead>
												<tbody>
													{{range .WorkResponses}}
													<tr>
														<td class="text-truncate">{{.Response}}</td>
														<td class="align-middle text-center">
															<div class="action-links d-flex justify-content-between">
																<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editWorkResponse{{.ID}}Modal"><i class="fa-solid fa-pen-to-square"></i></button>
																<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteWorkResponse{{.ID}}Modal"><i class="fa-solid fa-trash"></i></button>
															</div>
														</td>
													</tr>
													{{end}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="crime-tab-pane" role="tabpabel" aria-labelledby="crime-tab" tabindex="0">
								<div class="row">
									<div class="col-sm">
										<p>Allows you to manage your custom responses for <code>crime</code> commands.</p> 
										<p>Note: The bot bot will automatically use custom responses instead of the built-in one if there are any present</p>
									</div>
									<div class="col-sm d-flex flex-column gap-2">
										<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCrimeResponse">Add new response</button>
										<div class="table-responsive">
											<table class="table table-striped" id="crimeResponseTable">
												<thead>
													<tr>
														<th>Response</th>
														<th class="align-middle text-center" style="width: 10%; white-space: nowrap;">Actions</th>
													</tr>
												</thead>
												<tbody>
													{{range .CrimeResponses}}
													<tr>
														<td class="text-truncate">{{.Response}}</td>
														<td class="align-middle text-center">
															<div class="action-links d-flex justify-content-between">
																<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCrimeResponse{{.ID}}Modal"><i class="fa-solid fa-pen-to-square"></i></button>
																<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteCrimeResponse{{.ID}}Modal"><i class="fa-solid fa-trash"></i></button>
															</div>
														</td>
													</tr>
													{{end}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{range $_, $customResponse := dict 1 "Work" 2 "Crime"}}
			{{$responses := $.WorkResponses}}{{if eq $customResponse "Crime"}}{{$responses = $.CrimeResponses}}{{end}}
			{{range $responses}}
			<div class="modal fade" id="edit{{$customResponse}}Response{{.ID}}Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Edit response #{{.ID}}</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
						</div>
						<form id="edit{{$customResponse}}Response{{.ID}}Form" method="POST" action="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/economy/responses/{{lower $customResponse}}/{{.ID}}/edit">
							<div class="modal-body">
								<p class="card-text">To add the payout to the response, include the literal string: <code>(amount)</code></p>
								<input type="text" class="form-control text-light" name="Response" id="Response" value="{{.Response}}" autocomplete="off">
							</div>
							<div class="modal-footer justify-content-between">
								<div>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-success">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal fade" id="delete{{$customResponse}}Response{{.ID}}Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Delete response #{{.ID}}</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
						</div>
						<form id="delete{{$customResponse}}Response{{.ID}}Form" method="POST" action="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/economy/responses/{{lower $customResponse}}/{{.ID}}/delete">
							<div class="modal-body">
								<p class="card-text">This cannot be undone!</p>
								<span>You are deleting: "<code>{{- .Response -}}</code>"</span>
							</div>
							<div class="modal-footer justify-content-between">
								<div>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-danger">Delete response</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			{{end}}
			<div class="modal fade" id="new{{$customResponse}}Response" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5>New response</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
						</div>
						<form method="POST" action="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/economy/responses/{{lower $customResponse}}/new">
							<div class="modal-body">
								<p class="card-text">To add the payout to the response, include the literal string: <code>(amount)</code>.</p>
								<input type="text" class="form-control text-light" name="Response" id="Response" autocomplete="off">
							</div>
							<div class="modal-footer justify-content-between">
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{{end}}
		</div>
	</main>
</body>
{{template "javascript" .}}
</html>>