<!DOCTYPE html>
<html lang="en">
<head>
	{{template "head" .}}
</head>
<body class="text-light">
	{{template "dashboard_nav" .}}
	{{template "sidebar" .}}
	<div id="toastContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1100;"></div>
	<main class="d-flex-row p-3">
		<div id="pluginInfo" class="d-flex justify-content-between">
			<div class="d-flex align-items-center gap-2">
				<h2 class="mb-0">Economy Shop</h2>
			</div>
			<div class="d-flex">
				<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#newItemModal">Add Item</button>
			</div>
		</div>
		<div class="m-4">
			<div class="table-responsive">
				<table class="table table-striped" id="itemTable" data-metalabels='{"labels": {"description": "Description", "price": "Price", "quantity": "Quantity", "role": "Role", "reply": "Reply"}, "fieldOrder": ["description", "price", "quantity", "role", "reply"]}'>
					<thead>
						<tr>
							<th class="text-filter">Item</th>
							<th class="align-middle text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{{range .Store}}
						<tr data-description="{{.Description}}" data-price="{{.Price}}" data-quantity="{{.Quantity}}" data-role="{{.Role}}" data-reply="{{.Reply}}">
							<td class="text-truncate">{{.Name}}</td>
							<td class="align-middle text-center">
								<div class="action-links d-flex justify-content-between">
									<button title="Edit" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editItem{{.ID}}Modal">
										<i class="fa-solid fa-pen-to-square"></i>
									</button>
									<button title="Delete" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteItem{{.ID}}Modal">
										<i class="fa-solid fa-trash"></i>
									</button>
								</div>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
		{{range .Store}}
		<div class="modal fade" id="editItem{{.ID}}Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit item</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
					</div>
					<form id="editItemForm" method="POST" action="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/economy/shop/{{.ID}}/edit">
						<div class="modal-body">
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Item Name</label>
								{{textInput .Name "Name" (stringDict "maxlength" 30)}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Description</label>
								{{textInput .Description "Description" (stringDict "maxlength" 200)}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Price</label>
								{{numberSelect 0 0 .Price "Price" (stringDict "label" true "labelContent" $.EconomyConfig.EconomySymbol "labelSide" "left")}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Quantity</label>
								{{numberSelect 0 0 .Quantity "Quantity"}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Role given</label>
								{{roleOptionsSingle $.CurrentGuild.Roles .Role "Role" $.CurrentGuild.BotHighestRolePosition}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Reply</label>
								{{textInput .Reply "Reply" (stringDict "maxlength" 200)}}
							</div>
						</div>
						<div class="modal-footer justify-content-between">
							<div>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-success">Save changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteItem{{.ID}}Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete item</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
					</div>
					<form id="deleteItem{{.ID}}Form" method="POST" action="{{$.HomeURL}}/dashboard/{{$.CurrentGuild.ID}}/manage/economy/shop/{{.ID}}/delete">
						<div class="modal-body">
							<p class="card-text">This cannot be undone!</p>
							<span>You are deleting: "<code>{{.Name}}</code>"</span>
						</div>
						<div class="modal-footer justify-content-between">
							<div>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger">Delete response</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		{{end}}
		<div class="modal fade" id="newItemModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">New item</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
					</div>
					<form id="newItemForm" method="POST" action="{{.HomeURL}}/dashboard/{{.CurrentGuild.ID}}/manage/economy/shop/new">
						<div class="modal-body">
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Item Name</label>
								{{textInput "" "Name" (stringDict "maxlength" 30)}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Item Description</label>
								{{textInput "" "Description" (stringDict "maxlength" 200)}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Item Price</label>
								{{numberSelect 0 0 0 "Price" (stringDict "label" true "labelContent" .EconomyConfig.EconomySymbol "labelSide" "left")}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Item Quantity</label>
								{{numberSelect 0 0 0 "Quantity"}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Role Given By Item</label>
								{{roleOptionsSingle .CurrentGuild.Roles "" "Role" .CurrentGuild.BotHighestRolePosition}}
							</div>
							<div class="form-group d-flex flex-column">
								<label class="text-nowrap">Reply when using item</label>
								{{textInput "" "Reply" (stringDict "maxlength" 200)}}
							</div>
						</div>
						<div class="modal-footer justify-content-between">
							<div>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
{{template "javascript" .}}
</html>